<launch>
  <arg name="use_rviz" default="true" />
  <arg name="m2dgr_params_file" default="$(find cake_slam)/config/M2DGR.yaml" />
  <arg name="camera_params_file" default="$(find cake_slam)/config/camera_M2DGR.yaml" />
  <arg name="rviz_config_file" default="$(find cake_slam)/rviz_cfg/cake_slam_ros1.rviz" />

  <node pkg="cake_slam" type="cake_slam_mapping_multi_cam" name="laserMapping" output="screen">
    <rosparam command="load" file="$(arg m2dgr_params_file)" />
    <rosparam command="load" file="$(arg camera_params_file)" />
    <param name="common/num_cameras" value="1" />
    <param name="cameras/camera0/img_topic" value="/camera/left/image_raw" />
    <param name="cameras/camera0/camera_ns" value="camera" />
    <param name="cameras/camera0/image_undistort_en" value="false" />
    <param name="cameras/camera0/raw_camera_ns" value="camera" />
    <rosparam param="cameras/camera0/Rcl">[0.0, -1.0, 0.0, 0.0, 0.0, -1.0, 1.0, 0.0, 0.0]</rosparam>
    <rosparam param="cameras/camera0/Pcl">[0.16123, -0.16711, -0.24221]</rosparam>
    <param name="cameras/camera0/online_extrinsic_en" value="false" />
    <param name="cameras/camera0/time_offset_group" value="0" />
    <param name="cameras/camera0/online_time_offset_en" value="false" />
  </node>

  <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)" />
</launch>
