<launch>
  <arg name="use_rviz" default="true" />
  <arg name="hilti22_params_file" default="$(find cake_slam)/config/HILTI22_multi_cam.yaml" />
  <arg name="camera_params_file" default="$(find cake_slam)/config/camera_fisheye_HILTI22_multi_cam.yaml" />
  <arg name="rviz_config_file" default="$(find cake_slam)/rviz_cfg/cake_slam_ros1.rviz" />

  <node pkg="cake_slam" type="cake_slam_mapping_multi_cam" name="laserMapping" output="screen">
    <rosparam command="load" file="$(arg hilti22_params_file)" />
    <rosparam command="load" file="$(arg camera_params_file)" />
  </node>

  <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)" />
</launch>
