<launch>
  <arg name="use_rviz" default="false" />
  <arg name="use_respawn" default="true" />
  <arg name="avia_params_file" default="$(find cake_slam)/config/MARS_LVIG.yaml" />
  <arg name="camera_params_file" default="$(find cake_slam)/config/camera_MARS_LVIG.yaml" />
  <arg name="rviz_config_file" default="$(find cake_slam)/rviz_cfg/M300.rviz" />

  <node pkg="image_transport" type="republish" name="republish" output="screen"
        respawn="$(arg use_respawn)"
        args="compressed in:=/left_camera/image raw out:=/left_camera/image" />

  <node pkg="cake_slam" type="cake_slam_mapping_multi_cam" name="laserMapping" output="screen">
    <rosparam command="load" file="$(arg avia_params_file)" />
    <rosparam command="load" file="$(arg camera_params_file)" />
    <param name="common/num_cameras" value="1" />
    <param name="cameras/camera0/img_topic" value="/left_camera/image" />
    <param name="cameras/camera0/camera_ns" value="camera" />
    <param name="cameras/camera0/image_undistort_en" value="false" />
    <param name="cameras/camera0/raw_camera_ns" value="camera" />
    <rosparam param="cameras/camera0/Rcl">[0.00438814, -0.999807, -0.0191582, 0.00765736, 0.0191917, -0.999786, 0.999961, 0.00423972, 0.00774085]</rosparam>
    <rosparam param="cameras/camera0/Pcl">[0.016069, 0.0871753, -0.0718021]</rosparam>
    <param name="cameras/camera0/online_extrinsic_en" value="false" />
    <param name="cameras/camera0/time_offset_group" value="0" />
    <param name="cameras/camera0/online_time_offset_en" value="false" />
  </node>

  <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)" />
</launch>
